---
import { getCollection, getEntry, render } from "astro:content";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { postId: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---
<a href="/">Home</a>
{
  Array.isArray(post.data.labels) && post.data.labels.length > 0 && (
    <p>Labels:{post.data.labels.map((l) => ` ${l.name}`)}</p>
  )
}

<Content />

<a href={`${post.data.url}#discussion-comment-count`}>Go to comments</a>
<br>
<br>

<details>
    <summary>Object</summary>
    <pre>{JSON.stringify(post, null, 2)}</pre>
</details>
